# .NET SDK
# Temporary directories and files created by the .NET SDK
bin/
obj/

# IDE directories and files
.vscode/
.idea/

# Visual Studio configuration files
.vs/
.vsconfig
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.ide

# Temporary files created by .NET
*.tmp
*.log
*.bak
*.swp

# Unnecessary compiled binary files
*.dll
*.exe
*.pdb
*.app

# NuGet package files
/packages/
*.nupkg
*.snupkg

# Installation and lock files (if using other tools like npm or Yarn)
# Add if your project uses JavaScript package management tools
node_modules/
npm-debug.log
yarn-error.log

# OS installation files (Windows, macOS)
Thumbs.db
.DS_Store
ehthumbs.db

# Other cache or temporary directories created by IDEs
